<div class="sidebar">
    <div class="menu">
        <ul>
            <li>
                <a tabindex="0" accesskey="m" title="{{ __.menu.tutorials.mongo }}" class="mongo" href="{{ basePath }}/articles/category/mongo">Mongo <i class="icon"></i></a>
            </li>

            <li>
                <a tabindex="0" accesskey="e" title="{{ __.menu.tutorials.express }}" class="express" href="{{ basePath }}/articles/category/express">Express <i class="icon"></i></a>
            </li>

            <li>
                <a tabindex="0" accesskey="a" title="{{ __.menu.tutorials.angular }}" class="angular" href="{{ basePath }}/articles/category/angular">Angular <i class="icon"></i></a>
            </li>

            <li>
                <a tabindex="0" accesskey="n" title="{{ __.menu.tutorials.node }}" class="node" href="{{ basePath }}/articles/category/node">Node <i class="icon"></i></a>
            </li>

            <li>
                <a tabindex="0" accesskey="p" title="{{ __.menu.tutorials.php }}" class="php" href="{{ basePath }}/articles/category/php">PHP <i class="icon"></i></a>
            </li>

            <li>
                <a tabindex="0" accesskey="j" title="{{ __.menu.tutorials.js }}" class="js" href="{{ basePath }}/articles/category/javascript">JavaScript <i class="icon"></i></a>
            </li>

            <li>
                <a tabindex="0" accesskey="h" title="{{ __.menu.tutorials.html5 }}" class="html5" href="{{ basePath }}/articles/category/html5">HTML5 <i class="icon"></i></a></li>

            <li>
                <a tabindex="0" accesskey="c" title="{{ __.menu.tutorials.css3 }}" class="css3" href="{{ basePath }}/articles/category/css3">CSS3 <i class="icon"></i></a>
            </li>

            <li>
                <a tabindex="0" accesskey="s" title="{{ __.menu.tutorials.sublime }}" class="sublime" href="{{ basePath }}/articles/category/sublime">Sublime Text <i class="icon"></i></a>
            </li>

            <li>
                <a tabindex="0" accesskey="b" title="{{ __.menu.tutorials.bootstrap }}" class="bootstrap" href="{{ basePath }}/articles/category/bootstrap">Bootstrap <i class="icon"></i></a>
            </li>

            <li>
                <a tabindex="0" accesskey="g" title="{{ __.menu.tutorials.grunt }}" class="grunt active" href="{{ basePath }}/articles/category/grunt">Grunt <i class="icon"></i></a>
            </li>

            <li>
                <a tabindex="0" accesskey="d" title="{{ __.menu.tutorials.docker }}" class="docker" href="{{ basePath }}/articles/category/docker">Docker <i class="icon"></i></a>
            </li>

            <li>
                <a tabindex="0" accesskey="v" title="{{ __.menu.tutorials.vagrant }}" class="vagrant" href="{{ basePath }}/articles/category/vagrant">Vagrant <i class="icon"></i></a>
            </li>
        </ul>
    </div>
</div>
