<!DOCTYPE html>
<html lang="{{ __.site.language }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="content-language" content="{{ __.site.language }}" />
        <meta name="title" content="{{ __.site.title }}" />
        <meta name="keywords" content="{{ __.site.meta.keywords }}" />
        <meta name="abstract" content="{{ __.site.meta.abstract }}" />
        <meta name="description" content="{{ __.site.meta.description }}" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        {{#if isMobile}}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{/if}}

        <title>{{ __.site.title }}</title>

        {{#css}}
        <link rel="stylesheet" href="{{ this }}" />
        {{/css}}

        <link rel="shortcut icon" href="/images/favicon.png?v=1">
    </head>

    <body>
        {{> header  }}
        {{> content }}
        {{> footer  }}
        {{> scripts }}
    </body>
</html>
